.todo-app{
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.user-input{
    display: flex;
    justify-content: center;
}